@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
/* styles/globals.css */

@keyframes moveStation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px); /* Change this value to adjust the distance of the movement */
  }
}

.move-station {
  animation: moveStation 1s ease-in-out; /* Change the duration and timing function as needed */
}
